* {
    font-family: 'Sansita Swashed', cursive;
}

.bgcolor {
    background-color: #222222;
}

h1 {
    color: #a298c9;
    text-align: center;
}

.center {
    text-align: center;
    color: #dfd9f3;
}

.container {
    background-color: #222222;
}